# Server Configuration
NODE_ENV=
PORT=

# Frontend URL
FRONTEND_URL=

# Database Configuration
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# JWT Configuration
JWT_SECRET=
JWT_EXPIRES_IN=

# Logging
LOG_LEVEL=
